<p>
  <button>Click me!</button>
</p>

<p>
  <button>Click me too!</button>
</p>

<p>
  <label>
    Fill some text
    <input name="example1">
  </label>
</p>

<p>
  <label>
    Checkbox
    <input type="checkbox">
  </label>
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget
  finibus lectus. Donec eu bibendum ligula. Nullam vulputate, lacus vitae
  ullamcorper elementum, est purus euismod odio, id condimentum libero risus
  vitae neque. Nunc egestas finibus nibh nec dignissim. Nunc semper vel lacus
  in eleifend. Praesent finibus sem non leo aliquet, vel finibus neque
  facilisis. Morbi placerat turpis et lorem malesuada, a tristique lorem
  tempor. In et turpis velit. Integer elementum dapibus lorem, sed vestibulum
  mauris pellentesque ut. Pellentesque libero lectus, sollicitudin vitae
  fringilla vitae, venenatis in ipsum. Duis felis lorem, pellentesque at urna
  sed, faucibus tempor lacus. Cras ut ultricies enim. Nunc eu hendrerit
  sapien. Vivamus tristique, nisi eu scelerisque varius, turpis est imperdiet
  augue, eget auctor purus tellus eget nulla.
</p>
